<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Pipeline" type="Palmtree.Core.Helpers.AppConfig.PipelineConfigurationSection, Palmtree" requirePermission="false" />
  </configSections>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <Pipeline>
    <Filters>
      <add name="FeatureSelector" type="RedistributionFilter" />
      <add name="TimeSmoothing" type="TimeSmoothingFilter"/>
      <add name="Adaptation" type="AdaptationFilter"/>
      <add name="LinearClassifier" type="RedistributionFilter"/>
      <add name="KeySequence" type="KeySequenceFilter"/>
      <add name="ThresholdClassifier" type="ThresholdClassifierFilter"/>
      <add name="ClickTranslator" type="ClickTranslatorFilter"/>
      <add name="Normalizer" type="NormalizerFilter"/>
      <add name="Wasup" type="FlexKeySequenceFilter"/>
    </Filters>
  </Pipeline>
  
</configuration>
